header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5px;
  background-color: forestgreen;
  color: antiquewhite;
  width: 100%;
  text-align: center;
}
header > img {
  width: 8em;
}
@media screen and (max-width: 600px) {
  header {
    display: none;
    height: 0;
  }
}
