.content {
  padding-top: 2em;
  min-height: 75vh;
  width: 60vw;
  margin: auto;
  padding-bottom: 5em;
}
.presentacion {
  margin: 5em auto;
  text-align: center;
  border-radius: 5px;
  border: solid black;
}
body {
  font-size: 21px;
  width: 99vw;
  margin: auto;
}
code {
  background-color: lightgray;
}
